@font-face {
  font-family: "Chunkfive";
  src: url("../fonts/chunkfive/Chunkfive.otf"), url("../fonts/chunkfive/Chunkfive.otf");
  /* IE */ }
/* Landing Page Specials */
.mod-tabs.mod-tabs-fixed-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mod-tabs {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  white-space: nowrap; }

.mod-tabs.mod-tabs-fixed-width .mod-tab {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.mod-tabs .mod-tab {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase; }

.mod-tabs .mod-tab a {
  color: #00A8A8; }

.mod-tabs .mod-tab a {
  display: block;
  font-size: 14px;
  height: 100%;
  overflow: hidden;
  padding: 0 24px;
  text-overflow: ellipsis;
  -webkit-transition: color 0.28s ease;
  transition: color 0.28s ease;
  width: 100%; }

.mod-active {
  border-bottom: 2px solid #008080; }

/* Search Form */
.search-form button {
  margin-top: 10px; }

/* For the landing page */
.landing-page {
  background: url(../images/bg_landing.jpg) no-repeat center center fixed;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -ms-background-size: cover;
  background-size: cover;
  padding: 0 20px 0 20px;
  overflow: auto; }

.landing-page .input-field {
  margin-top: 0; }
.landing-page nav .brand-logo {
  font-family: Chunkfive;
  margin-left: 20px;
  padding: 0 0 0 20px; }
.landing-page .intro-text {
  padding: 20px;
  text-shadow: 5px 5px 5px #000; }
@media (max-width: 768px) {
  .landing-page .intro-text h1 {
    font-size: 5em; } }
.landing-page .or {
  color: #666;
  font-weight: bold;
  font-size: 20px; }
.landing-page .intro-text h1 {
  font-size: 6em; }

/* For shelf page */
.shelf-page {
  background: url(../images/bg_shelf.jpg) no-repeat center center fixed;
  background-size: cover; }

.admin-page {
  background: none !important; }

.nav-top {
  width: 100%;
  background-color: #000;
  border: 1px solid transparent;
  padding: 0 0 0 20px;
  opacity: 0.9; }

.nav-top h4 {
  font-family: Chunkfive;
  color: #fff; }
@media (max-width: 768px) {
  .nav-top h4 {
    font-size: 2em; } }

.nav-top.row {
  margin-bottom: 0; }

.nav-bottom {
  width: 100%;
  height: 30px;
  background-color: #000;
  border: 1px solid transparent;
  opacity: 0.9; }

.nav-top-marker {
  color: #0097FF; }

.right-bar ul li {
  margin-left: 10px; }

.side-nav li > a > i {
  margin: 0; }
.side-nav .mobile-header {
  background-color: #008080;
  color: #fff; }
.side-nav .mobile-header a {
  color: #fff;
  font-size: 2em; }

.shelf-page nav {
  background-color: #fff; }
.shelf-page nav ul li a {
  color: #666;
  font-size: 16px; }

.right-bar ul li {
  color: #666;
  font-size: 16px; }
.right-bar ul li a {
  color: #fff; }

.available-books {
  background-color: #222;
  padding: 0 10px 0 10px; }
  .available-books h3 {
    color: #fff;
    margin-top: 0; }

.available-books.row {
  margin-bottom: 0; }

nav a {
  color: #222; }

.top-menu-active {
  background-color: #008080 !important;
  padding: 5px; }

.category-select {
  border: 2px solid red; }

.tabs .tab a {
  color: #00A8A8; }

.tabs .tab a:hover,
.tabs .tab a.active {
  color: #008080; }

.tabs .indicator {
  background-color: #008080; }

.input-field .suffix i {
  position: absolute;
  width: 3rem;
  font-size: 2rem;
  -webkit-transition: color .2s;
  transition: color .2s;
  top: 0px;
  right: 0px; }
.input-field .suffix i.active {
  color: #26a69a; }
.input-field .suffix input,
.input-field .suffix textarea {
  margin-right: 3rem;
  width: 92%;
  width: calc(100% - 3rem);
  padding-top: .8rem; }
.input-field .suffix label {
  margin-right: 3rem; }
@media only screen and (max-width: 992px) {
  .input-field .suffix input {
    width: 86%;
    width: calc(100% - 3rem); } }
@media only screen and (max-width: 600px) {
  .input-field .suffix input {
    width: 80%;
    width: calc(100% - 3rem); } }

/* Book Listing */
.book .card-content {
  padding: 0;
  text-align: center; }
.book .card-content .card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0; }

.book-title {
  font-size: 16px; }

.book-author {
  font-size: 14px;
  font-weight: bold; }

.book-detail img {
  padding: 5px;
  width: 250px; }

.redded {
  background-color: red;
  color: #fff;
  font-weight: bold; }

.return-image {
  height: 70px;
  overflow: hidden; }

@media (max-width: 768px) {
  .return-image {
    height: 50px;
    overflow: hidden; } }
.return-image img {
  height: 100%; }

/*# sourceMappingURL=main.css.map */